name: Databricks-Asset-Bundle-Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch: # This allows you to run it manually from the GitHub UI

jobs:
  deploy:
    name: "Deploy Bundle to Databricks"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main

      - name: Deploy Bundle
        run: databricks bundle deploy
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
